<!DOCTYPE html> 

<html> 
    
<style>
div {
    position:absolute;
    width:130px;
    height:200px;
    background:yellow;
    bottom:0px;
    right:25%;
    left:50%;
    margin-left:-75px;
    font-family: monospace;
    
}
}

h1 {
  font-family: monospace;
}

input {
  font-family: monospace;
}

</style>
  

<body style="text-align:center;"> 
    <h1>  
    Anagrammario 
</h1> 
  
    <form method="POST">
  
        <input name="fname" placeholder="Es. Rocco Casalino" autocomplete="off"> 
  
        <input type="submit" value="Invia"> 
        
    </form> 
    
<div>Il sito è lento? Porta pazienza. Il mio server gratuito (un vecchio Pentium in Siberia) sta computando i risultati, contribuendo allo scioglimento del permafrost. Trovi il codice su <a href="https://github.com/laszlo91/anagrammamelo">Github.</a></div>
</body> 
  
</html> 
